.categroyNav {
  position: relative;
  display: inline-block; /* يخلي الـ dropdown مرتبط بالزرار */
  font-family: var(--font-primary);
  margin: 5px 0;
}


.categroy_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border: 1px solid var(--border_color);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categroy_btn:hover {
  border-color: var(--black_color);
  background-color: rgba(0, 144, 240, 0.08);
}

.categroy_btn h5 {
  font-size: 14px;
  font-weight: 600;
  color: var(--white_color);
  margin: 0;
}

.categroy_btn span .cat {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--white_color);
  }

/* ===================== */
/* Dropdown Categories */
.dropdown {
  position: absolute;
  top: 100%; /* يظهر تحت الزرار */
  left: 0;
  width: 100%;
  /* background-color: var(--white_color); */
  border: 1px solid var(--border_color);
  border-radius: 8px;
  margin-top: 5px;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 100;
  max-height: 300px;
  overflow-y: auto;
}

/* قائمة العناصر */
.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.dropdown li:hover {
  /* background-color: rgba(0, 144, 240, 0.06); */
}

.dropdown li a {
  text-decoration: none;
  color: var(--color_heading);
  font-size: 14px;
  display: block;
}
.arrowOpen {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* ===================== */
/* Responsive */
@media (max-width: 768px) {
  .categroy_btn h5 {
    font-size: 10px;
    font-weight: bold;
  }

  .categroy_btn {
    padding: 6px 10px;
  }

  .dropdown {
    width: 180px; /* أصغر على الموبايل */
  }
  .categroy_btn span .cat {
    display: block;
    font-size: 10px;
  }
}
